
@{
    ViewBag.Title = "createAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/Flatly.css">
    <link rel="stylesheet" type="text/css" href="http//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<br>
<h2>Crear cuenta</h2>
<div> <HR><br> </div>
<a class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("createEmployee", "Employee") + "'");"> <span class="glyphicon glyphicon-cog"></span>Crear cuenta empleado</a>
<div> <br><br>  </div>
<a class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("createClient", "Client") + "'");"><span class="glyphicon glyphicon-user"></span>Crear cuenta usuario</a>


<div>
    @Html.ActionLink("Volver", "Index", "Main")
</div>
